<!DOCTYPE html>
<html ng-app="myKeysApp">
  <% include layouts/header.ejs %>
  <body>
    <h1>My Keys</h1>
    <p>Angular works</p>
	
	<div class="container-fluid" ng-controller="musicController">
	  <div class="row-fluid" >
		  {{title}}		  
	  </div>
	  <div class="row-fluid" >
		  <% include keyboard.ejs %>  
	  </div>
	</div>
  </body>
  
  <% include layouts/jsincludes.ejs %>  
</html>