<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/animations.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  
  <script src="lib/jquery/jquery-1.10.2.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-animate.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="lib/angular/angular-route.js"></script>

  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/animations.js"></script>
  <script src="/javascripts/controllers.js"></script>
  <script src="/javascripts/filters.js"></script>
  <script src="/javascripts/services.js"></script>
</html>