<!DOCTYPE html>
<html ng-app="myKeysApp">
  <% include layouts/header.ejs %>
  <body>
    <h1>My Keys</h1>
    <p>Angular works</p>
	
	<div class="container-fluid">
	  <div class="row-fluid" ng-controller="musicController">
		  {{title}}
	  </div>
	</div>
  </body>
  
  <% include layouts/jsincludes.ejs %>  
</html>